:root {
  --main-font: "TeXGyreAdventor";
  --accent-font: "Unutterable";
  --main-color: #fff;
  --accent-color: #8a0303;
  --background-color: #100d0d;
  --section-background-color: rgb(0 0 0 / 30%);
}
